In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
df = pd.read_csv('weather.csv').head()
df

   MONTH  DAY  TIME  TEMP  PRESSURE
0      1    1     1   6.8     10207
1      1    1     2   5.8     10214
2      1    1     3   5.7     10220
3      1    1     4   6.0     10225
4      1    1     5   4.5     10230

In [5]:
df['TEMP']

0    6.8
1    5.8
2    5.7
3    6.0
4    4.5
Name: TEMP, dtype: float64

In [6]:
df['TEMP'][1]

5.8

In [7]:
dft = df.T
dft

                0        1        2        3        4
MONTH         1.0      1.0      1.0      1.0      1.0
DAY           1.0      1.0      1.0      1.0      1.0
TIME          1.0      2.0      3.0      4.0      5.0
TEMP          6.8      5.8      5.7      6.0      4.5
PRESSURE  10207.0  10214.0  10220.0  10225.0  10230.0

In [12]:
dft[2]['TIME']

3.0

In [13]:
dft[2][2]

3.0

In [14]:
t = pd.DataFrame([['John'], ['Bob'], ['Anne']], index=[4,3,4])
t

      0
4  John
3   Bob
4  Anne

In [15]:
t[0][4]

4    John
4    Anne
Name: 0, dtype: object

In [17]:
df['TIME'][[3,1,4]]

3    4
1    2
4    5
Name: TIME, dtype: int64

In [19]:
df[2:4][['TEMP', 'PRESSURE']]

   TEMP  PRESSURE
2   5.7     10220
3   6.0     10225

In [20]:
dft

                0        1        2        3        4
MONTH         1.0      1.0      1.0      1.0      1.0
DAY           1.0      1.0      1.0      1.0      1.0
TIME          1.0      2.0      3.0      4.0      5.0
TEMP          6.8      5.8      5.7      6.0      4.5
PRESSURE  10207.0  10214.0  10220.0  10225.0  10230.0

In [21]:
dft[3:][[2,3]]

                2        3
TEMP          5.7      6.0
PRESSURE  10220.0  10225.0